body {
  font-family: "Roboto", sans-serif;
  color: #34302d;
}

#logo {
  width: 100px;
}

#coffee-image {
  width: 400px;
  margin-left: 50px;
}

.header {
  display: flex;
  flex-direction: column;
}

.headerTitle {
  display: flex;
  justify-content: space-between;
}

.headPara {
  display: flex;
  gap: 32px;
  margin: 16px 0px;
}

.headerContent {
  display: flex;
  gap: 16px;
}

.headerContentPara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.submitButton {
  background-color: white;
  color: #5b3739;
  border: 2px solid #6f4b37;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 6px;
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.header {
  padding: 25px 175px 0px 175px;
}

.shopName {
  font-size: 48px;
  font-weight: extra-bold;
  color: #5b3739;
  margin-bottom: 12px;
}

.headerSecondaryText {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #34302d;
}
