body {
  font-family: "Roboto", sans-serif;
  color: #34302d;
  margin: 0;
}

#logo {
  width: 100px;
}

#coffee-image {
  width: 400px;
  margin-left: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.headerTitle {
  display: flex;
  justify-content: space-between;
}

.headPara {
  display: flex;
  gap: 32px;
  margin: 16px 0px;
}

.headerContent {
  display: flex;
  gap: 16px;
}

.headerContentPara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.submitButton {
  background-color: white;
  color: #5b3739;
  border: 2px solid #6f4b37;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 6px;
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.header {
  padding: 25px 175px 0px 175px;
}

.shopName {
  font-size: 48px;
  font-weight: extra-bold;
  color: #5b3739;
  margin-bottom: 12px;
}

.headerSecondaryText {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #34302d;
}

.drinkDiv img {
  width: 160px;
  border-radius: 12px;
}

.drinksContent {
  display: flex;
  gap: 48px;
}

.drinkDiv {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drinkDiv p {
  text-align: center;
  font-size: 16px;
}

.drinkDiv h5 {
  margin-bottom: 0px;
  font-size: 18px;
  color: #5b3739;
}

.drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  background-color: #f8f4f1;
  padding-top: 16px;
  padding-bottom: 48px;
}

.drinks h3 {
  font-size: 28px;
  font-weight: extra-bold;
  color: #5b3739;
  margin-bottom: 54px;
}

.actualQuote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.writer {
  font-size: 18px;
  font-weight: bold;
}

.quote {
  padding: 75px 216px;
  display: flex;
  flex-direction: column;
}

.writer {
  align-self: flex-end;
  color: #5b3739;
}

.order {
  background-color: #f8f4f1;
  color: white;
}

.buttonTwo {
  height: 40px;
  align-self: center;
  background-color: #6f4b37;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
  margin-right: 40px;
  border: 2px solid white;
  font-weight: 600;
}

.msg {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 40px;
}

.copyright p {
  text-align: center;
  font-size: 16px;
  padding: 12px;
}

.msg h5 {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 2px;
}

.msg p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.orderDiv {
  padding: 100px 200px;
}
